remote {{ openvpn_server.domain }} {{ openvpn_server.port }}

client
dev tun
proto udp
resolv-retry infinite
persist-key
persist-tun
nobind

data-ciphers AES-256-GCM:AES-256-CBC
auth SHA256

remote-cert-tls server
key-direction 1

verb 2

